<div class="row">
  <!-- ---------------------------------------------- -->
  <!-- 3. Badges -->
  <!-- ---------------------------------------------- -->
  <div class="col-12">
    <!-- ---------------------
                    start Badges with Background
                ---------------- -->
    <div class="card w-100">
      <div class="border-bottom p-3">
        <h4 class="card-title mb-0">Previna-se contra o COVID!</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <!-- column -->
          <div class="col-lg-3 col-md-6">
            <!-- Card -->
            <div class="card bg-primary text-white prevenc">
              <div class="card-body">
                <h4 class="card-title text-white"> 1. Utilize máscara se estiver com sintomas respiratórios</h4>
                <p class="card-text">
                  O uso de máscaras deixou de ser obrigatório em todos os estados e no Distrito Federal. Uma das principais medidas de enfrentamento da pandemia, o item de proteção facial é uma barreira física que reduz as chances de espalhamento do vírus em um ambiente.
                </p>
              </div>
            </div>
            <!-- Card -->
          </div>
          <!-- column -->
          <div class="col-lg-3 col-md-6">
            <!-- Card -->
            <div class="card bg-info text-white prevenc">
              <div class="card-body">
                <h4 class="card-title text-white">2. Higienize as mãos e objetos com regularidade</h4>
                <p class="card-text">
                  A lavagem das mãos com água e sabão com regularidade previne uma ampla gama de doenças além da Covid-19, incluindo resfriados, herpes, hepatite A e outras infecções causadas por vírus e bactérias. O álcool em gel deve ser utilizado como recurso adicional.
                </p>
              </div>
            </div>
            <!-- Card -->
          </div>
          <!-- column -->
          <div class="col-lg-3 col-md-6">
            <!-- Card -->
            <div class="card bg-success text-white prevenc">
              <div class="card-body">
                <h4 class="card-title text-white">3. Se possível, dê preferência ao Home Office (Trabalho de casa)</h4>
                <p class="card-text">
                  Assim como as máscaras passaram a fazer parte do contexto do transporte público, os especialistas recomendam que o trabalho de casa, conhecido como home office, seja adotado diante de sintomas respiratórios.
                </p>
              </div>
            </div>
            <!-- Card -->
          </div>
          <!-- column -->
          <div class="col-lg-3 col-md-6">
            <!-- Card -->
            <div class="card bg-danger text-white prevenc">
              <div class="card-body">
                <h4 class="card-title text-white">4. Evite contato físico e compartilhamento de objetos pessoais</h4>
                <p class="card-text">
                  Uma das formas de transmissão de vírus respiratórios é por meio do contato das mãos contaminadas com olhos, boca e nariz. Além da higienização das mãos, não deve-se tocar o rosto enquanto estiver na rua, além de evitar abraços, beijos e apertos de mãos.
                </p>
              </div>
            </div>
            <!-- Card -->
          </div>
          <!-- column -->
          <div class="col-lg-3 col-md-6">
            <!-- Card -->
            <div class="card bg-light-danger">
              <div class="card-body">
                <h4 class="card-title">5. Evite aglomerações, quando possível</h4>
                <p class="card-text">
                  Especialistas recomendam cautela na participação de grandes eventos, como festas em locais fechados, principalmente para quem apresenta sinais respiratórios.

                  Cuidados básicos ajudam a prevenir a Covid-19
                </p>
              </div>
            </div>
            <!-- Card -->
          </div>
          <!-- column -->
          <div class="col-lg-3 col-md-6">
          </div>
          <!-- column -->
          <div class="col-lg-3 col-md-6">
          </div>
          <!-- column -->
          <div class="col-lg-3 col-md-6">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
