<div class="card">
    <div class="card-body">
        <h4 class="card-title">Sobre Nós</h4>
        <h5 class="card-subtitle text-muted">Esta aplicação tem como objetivo o uso de machine learning para análises preditivas, bem como informar através de gráficos geolocalizados, a concentração da propagação de doenças contagiosas, no qual com base na localidade pesquisada serão retornados ao usuário de forma organizada os dados oficiais extraídos de bases confiáveis sobre a disseminação de doenças naquela região e as formas de prevenção. </h5>
    </div>
    <div class="row">
      <h4 class="card-title" style="margin-left: 20px;">Nosso time</h4>
      <div class="col-md-6 col-lg-3">
          <div class="card teamCard">
              <img src="assets/images/team/Andressa.jpeg" alt="Andressa Santos" class="card-img-top imgMaxSize">
              <div class="card-body">
                  <h4 class="card-title titleSize">Andressa Aparecida <br>Garcia dos Santos</h4>
                  <h6 class="card-subtitle">2010894@aluno.univesp.br</h6>
                  <p class="mt-3">Ciência de Dados</p>
              </div>
          </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card teamCard">
            <img src="assets/images/team/Erico.png" alt="Érico dos Reis" class="card-img-top imgMaxSize">
            <div class="card-body">
                <h4 class="card-title titleSize">Érico dos Reis</h4>
                <h6 class="card-subtitle">2002835@aluno.univesp.br</h6>
                <p class="mt-3">Ciência de Dados</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card">
          <img src="assets/images/team/Henrique.png" alt="Henrique Santos" class="card-img-top imgMaxSize">
          <div class="card-body">
              <h4 class="card-title titleSize">Henrique Messias <br> dos Santos</h4>
              <h6 class="card-subtitle">2009612@aluno.univesp.br</h6>
              <p class="mt-3">Ciência de Dados</p>
          </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card">
          <img src="assets/images/team/Livia.png" alt="Lívia Sabbagh" class="card-img-top imgMaxSize">
          <div class="card-body">
              <h4 class="card-title titleSize">Lívia Sabbagh</h4>
              <h6 class="card-subtitle">2004458@aluno.univesp.br</h6>
              <p class="mt-3">Ciência de Dados</p>
          </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card">
          <img src="assets/images/team/Gustavo.jpg" alt="Luís Gustavo" class="card-img-top imgMaxSize">
          <div class="card-body">
              <h4 class="card-title titleSize">Luís Gustavo Trevisan<br> Souza</h4>
              <h6 class="card-subtitle">2010649@aluno.univesp.br</h6>
              <p class="mt-3">Engenharia da Computação</p>
          </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card">
          <img src="assets/images/team/Pamela.png" alt="Pâmela Vicente de Souza Silva" class="card-img-top imgMaxSize">
          <div class="card-body">
              <h4 class="card-title titleSize">Pâmela Vicente de <br>Souza Silva</h4>
              <h6 class="card-subtitle">2011580@aluno.univesp.br</h6>
              <p class="mt-3">Ciência de Dados</p>
          </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card">
          <img src="assets/images/team/Thais.jpg" alt="Thaís Paião" class="card-img-top imgMaxSize">
          <div class="card-body">
              <h4 class="card-title titleSize">Thaís Cristina Paião <br>de Carvalho</h4>
              <h6 class="card-subtitle">2011342@aluno.univesp.br</h6>
              <p class="mt-3">Ciência de Dados</p>
          </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card">
          <img src="assets/images/team/Vanessa.png" alt="Vanessa Silva Pereira Araujo" class="card-img-top imgMaxSize">
          <div class="card-body">
              <h4 class="card-title titleSize">Vanessa Silva <br>Pereira Araujo</h4>
              <h6 class="card-subtitle">2012355@aluno.univesp.br</h6>
              <p class="mt-3">Ciência de Dados</p>
          </div>
      </div>
    </div>
</div>
