<div class="card">
    <div class="card-body">
        <h4 class="card-title">Sobre Nós</h4>
        <h5 class="card-subtitle text-muted">Esta aplicação tem como objetivo informar através de um mapa de calor a concentração da propagação de doenças contagiosas, no qual com base na localidade pesquisada serão retornados ao usuário de forma organizada os dados oficiais extraídos de bases confiáveis sobre a disseminação de doenças naquela região e as formas de prevenção. </h5>
    </div>
    <div class="row">
      <h4 class="card-title" style="margin-left: 20px;">Nosso time</h4>
      <div class="col-md-6 col-lg-3">
          <div class="card teamCard">
              <img src="assets/images/team/Andressa.jpeg" alt="Andressa Santos" class="card-img-top imgMaxSize">
              <div class="card-body">
                  <h4 class="card-title titleSize">Andressa Aparecida Garcia dos Santos</h4>
                  <h6 class="card-subtitle">2010894@aluno.univesp.br</h6>
                  <p class="mt-3">Ciência de Dados</p>
              </div>
          </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card teamCard">
            <img src="assets/images/team/Antonio.jpg" alt="Antonio Aguiar" class="card-img-top imgMaxSize">
            <div class="card-body">
                <h4 class="card-title titleSize">Antônio Silvino Aguiar</h4>
                <h6 class="card-subtitle">2001969@aluno.univesp.br</h6>
                <p class="mt-3">Ciência de Dados</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card">
          <img src="assets/images/team/Drielly.png" alt="Drielly Cristina" class="card-img-top imgMaxSize">
          <div class="card-body">
              <h4 class="card-title titleSize">Drielly Cristina Sanches Manha</h4>
              <h6 class="card-subtitle">2000284@aluno.univesp.br</h6>
              <p class="mt-3">Ciência de Dados</p>
          </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card">
          <img src="assets/images/team/Henrique.png" alt="Henrique Santos" class="card-img-top imgMaxSize">
          <div class="card-body">
              <h4 class="card-title titleSize">Henrique Messias dos Santos</h4>
              <h6 class="card-subtitle">2009612@aluno.univesp.br</h6>
              <p class="mt-3">Ciência de Dados</p>
          </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card">
          <img src="assets/images/team/Gustavo.jpg" alt="Luís Gustavo" class="card-img-top imgMaxSize">
          <div class="card-body">
              <h4 class="card-title titleSize">Luís Gustavo Trevisan Souza</h4>
              <h6 class="card-subtitle">2010649@aluno.univesp.br</h6>
              <p class="mt-3">Engenharia da Computação</p>
          </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card">
          <img src="assets/images/team/Thais.jpeg" alt="Thaís Paião" class="card-img-top imgMaxSize">
          <div class="card-body">
              <h4 class="card-title titleSize">Thaís Cristina Paião de Carvalho</h4>
              <h6 class="card-subtitle">2011342@aluno.univesp.br</h6>
              <p class="mt-3">Ciência de Dados</p>
          </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card">
          <img src="assets/images/team/Vitor.jpeg" alt="Vitor Lemes" class="card-img-top imgMaxSize">
          <div class="card-body">
              <h4 class="card-title titleSize">Vitor Rogerio Lemes</h4>
              <h6 class="card-subtitle">1832066@aluno.univesp.br</h6>
              <p class="mt-3">Engenharia da Computação</p>
          </div>
      </div>
    </div>
</div>
